<!-- This link will be "New Topic" if logged in and "Sign in to create topics" if not -->
<div class="centering-right">
  <% if @session_user %>
    <a class="new-topic" href="/topic/new">New Topic</a>
  <% else %>
    <a class="new-topic" href="/login">Sign in to create topics</a>
  <% end %>
</div> <!-- centering -->

<!-- Iterate through @topics and create a div with all relevant information -->
<% @topics.each do |topic| %>
  <div class="topics"><a class="topic" href="/topic/<%=topic.id%>">
    <p class="likes"><%= topic.likes %></p>
    <p class="date"><%= topic.posted_at %></p>
    <p class="topic"><%= topic.name %></p>
    <p class="username"><%= topic.user.username%></p>
  </a></div> <!-- topic -->
<% end %>