<div class="filters">
  <a href="/" class="filter">New</a>
  <a href="/most_likes" class="filter">Liked</a>
  <a href="/most_comments" class="filter">Most Commented</a>
</div> <!-- filters -->

<% if @session_user %>
  <a class="new-topic loggedin" href="/topic/new">New Topic</a>
<% else %>
  <a class="new-topic" href="/login">Sign in to create topics</a>
<% end %>

<% @topics.each do |topic| %>
  <div class="topics"><a class="topic" href="/topic/<%=topic.id%>">
    <p class="likes"><%= topic.likes %></p>
    <p class="date"><%= topic.posted_at %></p>
    <p class="topic"><%= topic.name %></p>
    <p class="username"><%= topic.user.username%></p>
  </a></div> <!-- topic -->
<% end %>