<!DOCTYPE html>
<html>
<head>
  <title>NYC Pick-Up Sports</title>
  <link rel="stylesheet" href="/css/reset.css">
  <link rel="stylesheet" href="/css/style.css">
  <script src="https://code.jquery.com/jquery-2.1.4.js"></script>
  <script src="/js/main.js"></script>
</head>
<body>
  <div class="navigation-bar">
    <a class="home" href="/">Home</a>
    <div class="register">
      <!-- Filters for Sport, Location -->
      <form class="overall-filters" method="POST" action="/filter">
        <select class="filter-tag-loc" name="tag">
          <% Tag.all.each do |tag|%>
            <option value="<%=tag.sport%>"><%=tag.sport%></option>
          <% end %>
        </select>
        <select class="filter-tag-loc" name="location">
          <option value="All">All</option>
          <option value="NYC">NYC</option>
          <option value="LA">LA</option>
          <option value="DC">DC</option>
        </select>
        <input class="filter-tag-loc" type="submit" value="Filter">
      </form>
      <!-- These links will be User's Name & Log Out if logged in, and Sign Up & Log In if not -->
      <% if @session_user %>
        <a href="/profile/<%= @session_user.id%>" class="profile"><%= @session_user.username%></a>
        <form method="POST" action="/logout" class="inline-block">
          <input type="hidden" name="_method" value="delete">
          <input type="submit" class="logout" value="Log Out">
        </form>
      <% else %>
        <a class="signup" href="/users/new">Sign Up</a>  
        <a class="login" href="/login">Log In</a>
      <% end %>    
    </div> <!-- register -->
  </div> <!-- navigation-bar -->
  <div class="layout"></div> <!-- image -->
  <div class="filters">
    <a href="/" class="filter">New</a>
    <a href="/most_likes" class="filter">Liked</a>
    <a href="/most_comments" class="filter">Most Commented</a>
  </div> <!-- filters -->
  <%= yield %>
</body>
</html>