<div class="show-topic">
  <h1 class="show-topic-data"><%= @topic.name %></h1>
  <p class="show-topic-data"><%= @topic.content %></p>
  <ul>
    <% if session[:user_id] == @topic.user_id %>
      <li><a class="option-hover" href="/topic/<%=@topic.id%>/edit">Edit</a></li> 
    <% else %>
      <li><a class="option-hover hidden" href="/topic/<%=@topic.id%>/edit">Edit</a></li>     
    <% end %>
  <li><a class="option-hover" href="/profile/<%=User.find(@topic.user_id).id%>"><%= User.find(@topic.user_id).username %></a></li>
    <li><%= @topic.posted_at %></li>
    <li><%= @topic.likes %> likes</li>

  </ul>
</div>

<form method="POST" action="/topic/<%=@topic.id%>/comment">
  <textarea type="text" name="content" placeholder="Type comments here!"></textarea>
  <% if session[:user_id] %>
    <input class="new-comment-loggedin" type="submit" value="New Comment">
  <% else %>
    <a class="new-comment-loggedout" href="/login">Sign in to leave comments</a>
  <% end %>
</form>

<% @comments.each do |comment| %>
  <div class="show-topic">
    <p class="show-topic-data"><%= comment.content %></p>
    <ul>   
      <% if session[:user_id] == comment.user_id %>
        <li><a class="option-hover" href="/comment/edit/<%=comment.id%>">Edit</a></li>  
      <% else %>
        <li><a class="option-hover hidden" href="/comment/edit/<%=comment.id%>">Edit</a></li>
      <% end %>     
        <li><a class="option-hover" href="/profile/<%=User.find(comment.user_id).id%>"><%= User.find(comment.user_id).username %></a></li> 
      <li><%= comment.posted_at %></li>   
    </ul>
  </div>
<% end %>